html, body {
    width: 100%;
}

h1 {
    text-align:center;
    font-family: 'Linux Libertine';
}
img {
    display:block;
    width:20%;
    height:20%;
}

img, table {
    margin: 0 auto;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    width: 500px;
}


tr p {
    padding-left: 15px;
}

tr:hover {
    font-weight: bolder; 
    color: darkred;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

tr:nth-child(odd) {
     background-color:#eee;

}
tr:nth-child(even) {
     background-color:#fff;

}
